nav {
    padding: 24px 72px;
    box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;

    .title {
        font-weight: 900;
        font-size: 24px;
    }

    .theme {
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;

        i {
            margin-right: 10px;
        }
    }
}

.dark-mode {
    color: white;
    background: hsl(209, 23%, 22%);
    box-shadow: 0 0 10px 16px hsl(207deg 26% 17%);
}

@media screen and (max-width: 540px) {
    nav {
        padding: 24px 18px;
    }

    .navbar-container {
        .title {
            font-size: 18px;
        }
    
        .theme {
            font-size: 14px;
        }
    }
}