<div class="container" [ngClass]="{ 'dark-mode': theme === 'dark' }">
  <div class="search-container">
    <input
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="countryName"
      (keypress)="onSearch($event)"
      [ngClass]="{ 'dark-mode': theme === 'dark' }"
    />
    <select
      [(ngModel)]="regionName"
      (change)="onRegionChanged()"
      [ngClass]="{ 'dark-mode': theme === 'dark' }"
    >
      <option [ngValue]="undefined" selected disabled hidden>
        Filter by Region
      </option>
      <option *ngFor="let region of regions" [ngValue]="region">
        {{ region }}
      </option>
    </select>
  </div>

  <div class="country-container">
    <app-country-card
      class="card"
      [ngClass]="{ 'dark-mode': theme === 'dark' }"
      *ngFor="let country of countries"
      [countryData]="country"
      routerLink="/{{ country.name.common }}"
    ></app-country-card>
  </div>
</div>
