.container {
    padding: 48px 72px;
    margin-top: 5px;
    background-color: hsl(0, 0%, 98%);
    min-height: 100vh;

    .country-data {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;

        .flag {
            width: 45%;
        }

        .info {
            width: 45%;
            padding: 1.5rem 0;

            .details {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;

                .details-left > p, .details-right > p {
                    margin-top: 0.4rem;
                }
            }

            .border-countries {
                margin: 2rem 0;

                .border-country {
                    display: inline-block;
                    margin: 0.5rem;
                    padding: 0.25rem 1rem;
                    box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0.1);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        
        .info-key {
            font-weight: 600;
        }
        
        img {
            width: 100%;
            aspect-ratio: 16/9;
        }
    }

    .btn {
        background-color: #fff;
        box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0.1);
        border: none;
        padding: 10px 40px;
        border-radius: 5px;
        cursor: pointer;

        span {
            margin-right: 10px;
        }
    }
}

.dark-mode.container {
    background: hsl(207, 26%, 17%);
    color: white;
}

.dark-mode.btn, .dark-mode.border-country {
    background-color: hsl(209, 23%, 22%) !important;
    color: white;
}

@media screen and (max-width: 1140px) {
        .details {
            flex-direction: column;
        }

        .border-countries span {
            display: block;
        }   
}

@media screen and (max-width: 600px) {
    .container {
        padding: 48px 36px;
    
        .country-data {
            flex-direction: column;
    
            .flag {
                width: 100%;
            }

            .info {
                width: 100% !important;
                padding: 3rem 0;

                .details-left > p, .details-right > p {
                    margin-top: 0.6rem !important;
                }
            }
        }
    }
}